:root {
    --background-light: white;
    --text-light: black;
    --background-dark: black;
    --text-dark: white;
}

body[data-theme='light'] {
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color 0.3s, color 0.3s;
}

body[data-theme='dark'] {
    background-color: var(--background-dark);
    color: var(--text-dark);
    transition: background-color 0.3s, color 0.3s;
}